<%= form_for(@socio) do |f| %>
  <% if @socio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@socio.errors.count, "error") %> prohibited this socio from being saved:</h2>

      <ul>
      <% @socio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :colony %><br />
    <%= f.text_field :colony %>
  </div>
  <div class="field">
    <%= f.label :entry %><br />
    <%= f.date_select :entry %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :background %><br />
    <%= f.check_box :background %>
  </div>
  <div class="field">
    <%= f.label :observations %><br />
    <%= f.text_field :observations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
