<h1>Listing socios</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Colony</th>
    <th>Entry</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Phone</th>
    <th>Background</th>
    <th>Observations</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @socios.each do |socio| %>
  <tr>
    <td><%= socio.name %></td>
    <td><%= socio.address %></td>
    <td><%= socio.colony %></td>
    <td><%= socio.entry %></td>
    <td><%= socio.sex %></td>
    <td><%= socio.birthday %></td>
    <td><%= socio.phone %></td>
    <td><%= socio.background %></td>
    <td><%= socio.observations %></td>
    <td><%= link_to 'Show', socio %></td>
    <td><%= link_to 'Edit', edit_socio_path(socio) %></td>
    <td><%= link_to 'Destroy', socio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Socio', new_socio_path %>
