<% content_for :description_meta do %>
  <meta name="description" content="Contactanos fisicamente en Calle Uxmal, Col. Unidad Modelo entre Ave. Aztlan y Ave. Zempoala o por correo eletronico" />
<% end %>

<%= content_for :page_header do %>
  <div class="page_header pagebg1">
    <h1>Disfruta de Planet Gym</h1>
    <%= link_to "Sube tu foto!", registro_path, :class=>"header_bt" %>
  </div>
<%end%>


<div class="left23 left_content">
  <%= render 'layouts/map' %>
  <%= render 'layouts/form_content' %>
  <%= render 'layouts/services' %>
</div>
<%= content_for :sc do %>
  <%= render 'layouts/sidebar1' %>
<% end %>
<%= content_for :fc do %>
  <%= render 'layouts/footercontent' %>
<% end %>

