<% content_for :description_meta do %>
  <meta name="description" content="Contactanos fisicamente en Calle Uxmal, Col. Unidad Modelo entre Ave. Aztlan y Ave. Zempoala o por correo eletronico" />
<% end %>

<%= content_for :page_header do %>
  <div class="page_header pagebg1">
    <h1>Disfruta de Planet Gym</h1>
    <%= link_to "Entrar!", "/auth/facebook", :class=>"header_bt" %>
  </div>
<%end%>


<div class="left23 left_content">
  <h2>Ingresa con tu cuenta de facebook</h2>
  <h3>Pasos a seguir</h3>
  <ul>
    <li>Registra tus huellas digitales en el gimnasio</li>
    <li>Se te asignara un numero de socio en el gimnasio al registrar tus huellas</li>
    <li>Entra con tu cuenta de facebook </li>
  </ul>

  <%= link_to (image_tag "facebook_login.png"), "/auth/facebook" %>


</div>
<%= content_for :sc do %>
  <%= render 'layouts/sidebar1' %>
<% end %>
<%= content_for :fc do %>
  <%= render 'layouts/footercontent' %>
<% end %>

