<div class="form_content">
  <%= form_for(@partner, :id => "form1") do |f| %>
    <div class="form_top">
      <% if @partner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>
          <ul>
            <% @partner.errors.full_messages.each do |msg| %>
              <li><%=  msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form_row">
        <%= f.label t :image %> <br/>
        <% if @partner.image != nil %>
          <%= image_tag @partner.image %>
        <%else%>
          <%= image_tag "sport_icon_running.png" %>
        <% end %>
      </div>

      <div class="form_row_half">
        <%= f.label t :name %><br />
        <%= f.text_field :name, :class=>"form_input", :placeholder => "ej. Pedro Torres " %>
      </div>
      <div class="form_row_half">
        <%= f.label t :email %><br />
        <%= f.text_field :email, :class=>"form_input", :placeholder => "ej. ptorres@hotmail.com" %>
      </div>

      <div class="form_row_half">
        <%= f.label t :address %><br />
        <%= f.text_field :address, :class=>"form_input", :placeholder=>"ej. Uxmal 3290" %>
      </div>
      <div class="form_row_half">
        <%= f.label t :colony %><br />
        <%= f.text_field :colony, :class => "form_input", :placeholder=>"Unidad Modelo" %>
      </div>
      <div class="form_row_half">
        <%= f.label t :entry %><br />
        <%= f.text_field :entry, :class => "form_input", :placeholder=>"Selecciona una fecha" %>
      </div>
      <div class="form_row_half">
        <%= f.label t :birthday %><br />
        <%= f.text_field :birthday, :class => "form_input", :placeholder=>"Selecciona una fecha " %>
      </div>
      <div class="form_row">
        <%= f.label t :phone %><br />
        <%= f.text_field :phone, :class => "form_input", :placeholder=>"ej. 81-89-82-32" %>
      </div>
     <div class="form_row">
        <%= f.label t :sex %><br />
        <fieldset>
          <%= f.radio_button :sex, "male" %>
          <label for="male">Hombre</label>
          <%= f.radio_button :sex, "female" %>
          <label for="female">Mujer</label>
        </fieldset>
      </div>
   <div class="form_row">
        <%= f.label t :background %>
        <fieldset>
          <%= f.radio_button :background, "si" %>
          <label for="si">Si</label>
          <%= f.radio_button :background, "no" %>
          <label for="no">No</label>
        </fieldset>
      </div>
      <div class="form_row">
        <%= f.label t :observations %><br />
        <%= f.text_area :observations     , :class => "form_textarea" %>
      </div>
      <div class="form_bottom">
        <%= f.submit "Listo!",:class => "form_submit" %>
      </div>
    </div>
  <% end %>
</div>
