<%= content_for :page_header do %>
  <div class="page_header pagebg1">
    <h1>Registrate en Planet Gym</h1>
  </div>
<%end%>
<div class="left23 left_content">
  <%= render 'form' %>
  <%= link_to 'Back', partners_path %>
</div>
<%= content_for :sc do %>
  <%= render 'layouts/sidebar1' %>
<%end%>
<%= content_for :fc do %>
<%= render 'layouts/footercontent' %>
<%end%>
