<%= content_for :page_header do %>
  <div class="page_header pagebg1">
    <h1>Verifica tu información</h1>
  </div>
<%end%>

<div class="left23 left_content">

<p id="notice"><%= notice %></p>

<h2>Información personal</h2>

<p>
<b><%= Partner.human_attribute_name(:name) %>:</b>
  <%= @partner.name %>
</p>

<p>
<b><%= Partner.human_attribute_name(:address) %>:</b>
  <%= @partner.address %>
</p>

<p>
<b><%= Partner.human_attribute_name(:colony) %>:</b>
  <%= @partner.colony %>
</p>

<p>
<b><%= Partner.human_attribute_name(:entry) %>:</b>
  <%= @partner.entry %>
</p>

<p>
<b><%= Partner.human_attribute_name(:sex) %></b>
  <%= @partner.sex %>
</p>

<p>
<b><%= Partner.human_attribute_name(:birthday) %>:</b>
  <%= @partner.birthday %>
</p>

<p>
<b><%= Partner.human_attribute_name(:phone) %>:</b>
  <%= @partner.phone %>
</p>

<p>
<b><%= Partner.human_attribute_name(:background) %>:</b>
  <%= @partner.background %>
</p>

<p>
<b><%= Partner.human_attribute_name(:observations) %>:</b>
  <%= @partner.observations %>
  </p>

<%= link_to t(:ok), dashboard_path, :class => "header_bt" %>
<%= link_to t(:edit), edit_partner_path(@partner), :class => "header_bt" %>

</div>
