  <div class="left_full">
    <h2>Suplementos</h2>
    <div class="supplements_tab">
      <%= link_to image_tag("supplements01.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements02.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements03.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements04.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements02.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements01.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements03.png", :alt=>"", :title=>""), "#" %>
      <%= link_to image_tag("supplements04.png", :alt=>"", :title=>""), "#" %>
    </div>
  </div>

