<div class="left13 sidebar">
  <h2>Facebook, te gusta la pagina</h2>
    <!-- <ul>
      <li><a href="#">sed do eiusmod tempor</a></li>
      <li><a href="#">incididunt ut labore et dolore </a></li>
      <li><a href="#">dolor sit amet  consectetur adipisicing </a></li>
      <li><a href="#">elit  sed do eiusmod tempor </a></li>
      <li><a href="#">incididunt ut labore et dolore magna aliqua</a></li>
    </ul> -->
    <div class="fb-like" data-href="http://www.planetgym.mx/contacto" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>


    <h2>Enterate!</h2>

    <div class="sidebar_blog_entries">

      <div class="post_small">
        <%= image_tag "post_thumb.jpg", :alt=>"",:title=>"",:class=>"post_thumb" %>
        <h3><%= link_to "Fisiculturismo","#" %></h3>
        <p>
          Sed ut perspiciatis <a href="#">unde omnis</a> iste natus error sit
        </p>
      </div>

      <div class="post_small">
        <%= image_tag "post_thumb2.jpg",:alt=>"", :title=>"",:class=>"post_thumb" %>
        <h3><%= link_to "Suplementación", "#" %></h3>
        <p>
          Simplicity is more <a href="#">complex</a> than you <strong>probably</strong> think it is
        </p>
      </div>

      <div class="post_small">
        <%= image_tag "post_thumb3.jpg", :alt=>"", :title=>"", :class=>"post_thumb" %>
        <h3><%= link_to "Rutinas", "#" %></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit iste natus error sit
        </p>
      </div>

      <%= link_to "read the blog", "#", :class=>"read_more" %>

    </div>

    <h2>Testimonios</h2>
    <div class="testimonial">
      <p>
        At one point in <strong>your life</strong> you either have the thing you want or <a href="#"><strong>the reasons</strong></a> why you don't you do it before.
      </p>
      <a href="#" class="read_more">por Arturo</a>
    </div>
    <div class="testimonial">
      <p>
        Simplicity is more <a href="#">complex</a> than you <strong>probably</strong> think it is
      </p>
      <a href="#" class="read_more">por Gilberto</a>
    </div>

    <h2>Fotografias</h2>
    <div class="flickr_photos">
      <ul id="basicuse" class="thumbs"></ul>
    </div>

  </div>
