<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Planet Gym</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/facebookscripts' %>
    <div id="main_container">
      <a class="show_menu" href="#">menu</a>
      <a class="hide_menu" href="#">close menu</a>
      <%= render 'home/header' %>
      <%= yield :page_header %>
      <%= render 'layouts/slides' if current_page?(root_path) %>
      <div class="content">
        <%= yield %>
        <%= yield :sc %>
        <%= yield :fc %>
        <div class="clear"></div>
      </div>

      <%= render 'home/footer' %>
      <div class="clear"></div>
    </div>
    <%= yield :jscripts %>

  </body>
</html>
